<!doctype html>
<html lang="en">
<head>
  <div class="header">
  <div class="small">TIC-TAC-TOE GAME</div><div class="large">UNBEATABLE AI</div>
  </div>
  <p></p><br></br>


    <meta charset="utf-8">
    <title>{% block title %}Chat{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/game.css" media="all">
    {% block extra_css %}{% endblock %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        var showForm = function() {
            $('form').slideDown(function() {
                $('form input[type="text"]').focus();
            });
        };
    </script>
    {% block extra_js %}{% endblock %}

</head>
<body>
    <div id="main">{% block main %}{% endblock %}</div>
    {% block form %}{% endblock %}
</body>
