  <div id="tic-tac-toe" align="center">
    <h1>TIC-TAC-TOE GAME</h1>
    <table align="center" background="{{STATIC_URL}}images/grid.png">
    <tr>
      <td class="position" id="1"></td>
      <td class="position" id="2"></td>
      <td class="position" id="3"></td>
    </tr>
    <tr>
      <td class="position" id="4"></td>
      <td class="position" id="5"></td>
      <td class="position" id="6"></td>
    </tr>
    <tr>
      <td class="position" id="7"></td>
      <td class="position" id="8"></td>
      <td class="position" id="9"></td>
    </tr> 
    </table>
  </div>