  <div id="tic-tac-toe">
    <table border="1" class="board">
    <tr>
      <td><input type="submit" class="position" id="1" value=""></td>
      <td><input type="submit" class="position" id="2" value=""></td>
      <td><input type="submit" class="position" id="3" value=""></td>
    </tr>
    <tr>
      <td><input type="submit" class="position" id="4" value=""></td>
      <td><input type="submit" class="position" id="5" value=""></td>
      <td><input type="submit" class="position" id="6" value=""></td>
    </tr>
    <tr>
      <td><input type="submit" class="position" id="7" value=""></td>
      <td><input type="submit" class="position" id="8" value=""></td>
      <td><input type="submit" class="position" id="9" value=""></td>
    </tr> 
    </table>
  </div>